<table class="table table-bordered table-hover">
  <tr>
    <td>
      <p class="text-center"><b><%= t('.traffic_sources') %></b></p>
      <div id="referrers_donut" style="width:100%;height:160px;"></div>
    </td>
  </tr>
</table>
